html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16pt;
}

body {
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    margin-top: 1%;
    margin-bottom: 1%;
}

p {
    font-size: 1em;
    margin: 1%;
}

.p-just {
    text-align: justify;
}


#h1-pri {
    font-size: 28pt;
}

#h1-ins {
    font-size: 20pt;
}

#h2-camp {
    font-size: 20pt;
}

hr {
    background-color: #FFa500;
    height: 5px;
    border: none;
    border-radius: 4px;
}

.img-ban {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.img-ban-gra {
    border-radius: 100px;
    width: 80%;
    height: auto;
}

.vid-div {
    width: 560px;
    height: 315px;
}

#p-dir {
    font-size: 12px;
    margin: 10px 0px 20px 0px;
}

nav {
    font-size: 1.5em;
    color: #FFa500;
}

a{
    font-size: 1em;
    color: #FFa500;
}
