table {
    text-align: center;
    margin: auto;
    width: 500px;
    height: auto;
}

#td-sub {
    text-align: center;
    column-span: 2;
}

.td-rig {
    text-align: right;
}

.td-lef {
    text-align: left;
}